doctype html
html(lang="en")
  head
    title TextToSlideshow
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/base.css")
    script(src="/bundle.js")
  body
    h1 Hello, world!
    ul#messages
